<a asp-action="IndexGenre" asp-controller="Genre" class="btn btn-outline-dark">Все жанры</a>
<a asp-action="IndexAuthor" asp-controller="Author" class="btn btn-outline-dark">Все авторы</a>
<a asp-action="IndexPublisher" asp-controller="Publisher" class="btn btn-outline-dark">Все издатели</a>
<a asp-action="AddBook" asp-controller="Book" class="btn btn-toolbar">Добавить книгу</a>